
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('https://legends.arceus.pokemon.com/assets/bg-weave-dark.jpg');
  background-repeat: repeat;
}

@layer base {
  :root {
    --background: 40 48% 92%;
    --foreground: 0 0% 24%;
    --card: 40 40% 97%;
    --card-foreground: 0 0% 24%;
    --popover: 40 40% 97%;
    --popover-foreground: 0 0% 24%;
    --primary: 128 32% 67%;
    --primary-foreground: 44 25% 15%;
    --secondary: 40 25% 85%;
    --secondary-foreground: 0 0% 24%;
    --muted: 40 25% 85%;
    --muted-foreground: 0 0% 40%;
    --accent: 180 35% 55%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 202 100% 31%;
    --input: 202 100% 31%;
    --ring: 128 32% 67%;
    --chart-1: 128 32% 67%;
    --chart-2: 180 35% 45%;
    --chart-3: 0 72% 51%;
    --chart-4: 213 22% 20%;
    --chart-5: 40 10% 60%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 213 22% 10%;
    --foreground: 40 30% 85%;
    --card: 213 20% 15%;
    --card-foreground: 40 30% 85%;
    --popover: 213 20% 15%;
    --popover-foreground: 40 30% 85%;
    --primary: 128 32% 67%;
    --primary-foreground: 44 25% 15%;
    --secondary: 213 15% 25%;
    --secondary-foreground: 40 30% 85%;
    --muted: 213 15% 25%;
    --muted-foreground: 40 20% 70%;
    --accent: 180 35% 55%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 63% 45%;
    --destructive-foreground: 0 0% 98%;
    --border: 202 100% 31%;
    --input: 202 100% 31%;
    --ring: 128 32% 67%;
    --chart-1: 128 32% 67%;
    --chart-2: 180 35% 45%;
    --chart-3: 0 63% 45%;
    --chart-4: 213 22% 70%;
    --chart-5: 40 10% 60%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
